body{
    background-color: #053742;
}

#title{
    color: #E8F0F2;
    font-family: Lato, sans-serif;
}
.groupInfo{
    display: flex;
    width: content-box;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Lato, sans-serif;
    background-color: #A2DBFA;
    width: 15rem;
    height: 15rem;
}
#pathFinder{
    font-size: 12px;
    color: #E8F0F2;
}
#selectFolderImages{
    color: #39A2DB;
    font-family: Lato, sans-serif;
    font-style: italic;
}
